[Desktop Entry]
Name=Cursor
Comment=The AI Code Editor.
GenericName=Text Editor
Exec=$HOME/.local/share/applications/cursor/usr/bin/cursor --no-sandbox %U
Terminal=false
Type=Application
Icon=$HOME/.local/share/applications/cursor/code.png
StartupNotify=false
StartupWMClass=Cursor
X-AppImage-Version=0.48.2
MimeType=x-scheme-handler/cursor;
Categories=Utility;
Keywords=cursor;