[Desktop Entry]
Name=Cursor
Comment=The AI Code Editor.
GenericName=Text Editor
Exec=$DEST_DIR/usr/bin/cursor --no-sandbox %U
Terminal=false
Type=Application
Icon=$DEST_DIR/code.png
StartupNotify=false
StartupWMClass=Cursor
X-AppImage-Version=$VERSION
MimeType=x-scheme-handler/cursor;
Categories=Utility;
Keywords=cursor;